@page "/UpdateCarPopup"

<table class="table">
    <tr>
        <td style="width: 150px">ID:</td>
        <td>@CurrentEditCar.Id</td>
    </tr>
    <tr>
        <td style="width: 150px">Make:</td>
        <td>
            <input @bind="CurrentEditCar.Make">
        </td>
    </tr>
    <tr>
        <td style="width: 150px">Model:</td>
        <td>
            <input @bind="CurrentEditCar.Model">
        </td>
    </tr>
    <tr>
        <td style="width: 150px">Production date:</td>
        <td>
            <input type="date" @bind="CurrentEditCar.ProductionDate">
        </td>
    </tr>
    <tr>
        <td style="width: 150px">Mileage:</td>
        <td>
            <input type="number" @bind="CurrentEditCar.Mileage">
        </td>
    </tr>
    <tr>
        <td style="width: 150px">Last modified date:</td>
        <td>@CurrentEditCar.LastModifiedDateTime</td>
    </tr>
</table>

<button class="btn btn-primary" @onclick="Confirm">Save</button>
<button class="btn btn-primary" @onclick="Cancel">Cancel</button>

@code {
    [CascadingParameter]
    BlazoredModalInstance Modal { get; set; } = default!;

    [Parameter]
    public EditCarModel CurrentEditCar { get; set; } = new();

    private async Task Confirm()
    {
        await Modal.CloseAsync(ModalResult.Ok(CurrentEditCar));
    }
    
    private async Task Cancel()
    {
        await Modal.CancelAsync();
    }
}